@page "/checkin"
@page "/checkin/{id}"
@page "/checkin/{id}/{cmd}"

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@if(String.IsNullOrEmpty(id)){

    <section class="main_content">
        <div class="card flex_column is_fullheight">
            <ul class="columns is-vcentered is-variable is-2 mb-2">
                <li class="column">
                    <h1 class="title is-5 has-text-info">
                        CHECK-IN OKRs
                    </h1>
                </li>
                <li class="column is-narrow">
                    <div id="dropdown_03863fdb" class="dropdown is-left  ">
                        <div class="dropdown-trigger"><a class="icon-text"><span class="has-text-link is-block"
                                    style="max-width: 200px;">Tất cả phòng ban</span>
                                <span class="icon"><i
                                        class="material-icons-outlined is-size-5">arrow_drop_down</i></span></a></div>
                    </div>
                </li>
                <li class="column is-one-quarter">
                    <div class="control is-expanded has-icons-left has-icons-right has_suggest">
                        <input class="input is-rounded is-small" type="text" placeholder="Nhập tên nhân viên..." autocomplete="off" @bind="userToViewOKRs.userName" >
                            <span class="icon is-left"><i class="material-icons-outlined is-size-6">search</i></span>
                            <a class="icon is-right has-text-danger"><i class="material-icons-outlined">close</i></a>
                       <ul class="suggest">
                        @foreach(var u in listUser){
                            <li class="rsitem" @onclick="() => GetCheckInOKRsByUser(u)" >
                                    <div class="user_item"><img class="image is-24x24 mr-2" src="https://storage.googleapis.com/fastdo-storage.appspot.com/avatar/638398966517082138_338186201_910224320311474_9209000584054955892_n.jpg" alt="IMG">
                                    <span>@u.userName</span></div>
                            </li>
                        }
                        </ul>
                    </div>
                </li>
                <li class="column is-narrow"><a href="/okr/history/2411E7F225">Lịch sử chỉnh sửa</a></li>
            </ul>

            <div class="inner_section scrolly" style="flex:1">
                <table class="table is-fullwidth is-noborder is-responsive sticky only_desktop" style="width:100%">
                    <thead>
                        <tr class="is-size-7" style="border-bottom: 1px solid #DEDEDE;">
                            <th class="">Mục tiêu</th>
                            <th class="" width="160px">Kết Quả Then Chốt</th>
                            <th class="" width="200px" align="center">Tiến độ</th>
                            <th class="" width="90px" align="center">Thay đổi</th>
                            <th class="" width="90px" align="center">Tự tin</th>
                            <th class="" width="105px" align="center" title="Check-in gần nhất">Check-in</th>
                            <th class="" width="120px" align="center">Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (checkInOKRsList.Count > 0)
                        {
                            foreach (var checkInOKRs in checkInOKRsList )
                            {
                                <tr>
                                    <td>
                                        <div class="is-flex"><a class="has-text-weight-semibold"
                                                href="/checkin/@checkInOKRs.id">@checkInOKRs.okr._object</a></div>
                                    </td>
                                    <td>
                                        <label class="td-label">Kết quả</label>
                                        <div class="td-value"><a class="icon-text has-text-weight-semibold has-text-info" @onclick="() => ShowKR(checkInOKRs.okr.idOKRs)" >
                                            <span>@checkInOKRs.krs.Count kết quả</span>
                                                <span class="icon"><i class="material-icons-outlined is-size-5">arrow_right</i></span></a>
                                        </div>
                                    </td>
                                    <td><label class="td-label">Tiến độ</label>
                                        <div class="td-value">
                                            <div class="progress_has_value">
                                                <progress class="progress is-small is-dark" value="@(checkInOKRs.progress)" max="1"></progress>
                                                <span>@((checkInOKRs.progress) * 100) %</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td align="center"><label class="td-label">Thay đổi</label>
                                        <div class="td-value has-text-weight-semibold">0%
                                        </div>
                                    </td>
                                    <td align="center"><label class="td-label">Tự tin</label>
                                        <div class="td-value has-text-weight-semibold"><span>@HandleOKRs.ConvertToConfident(checkInOKRs.okr.confident)</span></div>
                                    </td>
                                    <td align="center"><label class="td-label">Check-in</label>
                                        
                                        <div class="td-value"><span>@(HandleOKRs.ConvertTicksToDate(checkInOKRs.dateCheckIn))</span></div>
                              
                                    </td>
                                    <td align="center"><label class="td-label">Trạng thái</label>
                                        <div class="td-value has-text-weight-semibold">
                                        
                                            @if(checkInOKRs.statusCheckIn == -1){
                                                
                                                <div class="td-value"><span></span></div>
                                                
                                            }
                                            else if(checkInOKRs.statusCheckIn == 0){
                                                if(checkInOKRs.idUserCheckIn == mainLayout.user.userId){
                                                    <div class="td-value"><span class="has-text-warning"> Xác nhận Nháp</span></div>
                                                }
                                                else{
                                                    <div class="td-value"><span class="has-text-warning">Check-in nháp</span></div>
                                                
                                                }
                                            }
                                            else if(checkInOKRs.statusCheckIn == 1){
                                                if(checkInOKRs.idUserCheckIn == mainLayout.user.userId){
                                                    <div class="td-value"><span class="has-text-warning"></span></div>
                                                }
                                                else{
                                                    <div class="td-value"><span class="has-text-warning">Check-in</span></div>
                                                
                                                }
                                            }
                                            else if(checkInOKRs.statusCheckIn == 2){
                                                if(checkInOKRs.idUserCheckIn == mainLayout.user.userId){
                                                    <div class="td-value"><span class="has-text-warning"></span></div>
                                                }
                                                else{
                                                    <div class="td-value"><span class="has-text-warning">Đã Check-in</span></div>
                                                
                                                }
                                            }
                                            else{
                                                <div class="td-value"><span class="has-text-warning">Đã Xác Nhận</span></div>
                                            }
                           
                                        </div>
                                    </td>
                                </tr>

                                @if (isShowKR.Count > 0)
                                {
                                    @if (isShowKR[checkInOKRs.okr.idOKRs])
                                    {
                                        foreach (KR kr in checkInOKRs.krs)
                                        {
                                            <tr>
                                                <td class="pl-4">@kr._keyResult</td>
                                                <td class="pl-2"></td>
                                                <td><label class="td-label">Đạt được</label>
                                                    <div class="td-value"><span class="has-text-success"
                                                            title="tiến độ"> @kr.processCurrent / @kr.target </span>
                                                        <span class="is-pulled-right">@kr.unit</span>
                                                    </div>
                                                </td>
                                                <td align="center"><label class="td-label">Thay đổi</label>
                                                    <div class="td-value">0
                                                    </div>
                                                </td>
                                                <td align="center"><label class="td-label">Tự tin</label>
                                                    <div class="td-value has-text-weight-semibold"><span> @HandleOKRs.ConvertToConfident(kr.confident) </span></div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }

                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </section>
}
else{
    <section id="content" class="column has_sidebar ">
            <div class="tabs">
                <div class="tabs_name">
                    <a class="icon-text px-0 has-text-link has-text-weight-normal is-size-6" href="/checkin">
                        <span class="icon">
                            <span class="material-icons-outlined">
                                keyboard_backspace
                            </span>
                        </span>
                        <span>
                            Trở về
                        </span>
                    </a>
                    <span class="icon-text">
                        <span>
                            Chi tiết OKRs
                        </span>
                    </span>
                </div>
                <ul>
                    <li class="is-active">
                        <a class="has-text-weight-normal" href="/okr/checkin/241J38B6EA/info">Check-in 1:1</a>
                    </li>
                    <li class="">
                        <a class="has-text-weight-normal" href="/okr/checkin/241J38B6EA/feedback">Phản hồi</a>
                    </li>
                    <li class="">
                        <a class="has-text-weight-normal" href="/okr/checkin/241J38B6EA/overview">Tổng quan</a>
                    </li>
                </ul>
            </div>

            @if(cmd == "add"){
                <section class="main_content">
                <div class="card">
                    <ul class="columns is-vcentered is-variable is-2 mb-5">
                        <li class="column">
                            <h1 class="title is-5 has-text-info">
                                CHECK-IN 1:1
                            </h1>
                        </li>
                    </ul>

                    @* @if(checkInOKRsExample.statusCheckIn == 0 && !isEdit){
                        <li class="column is-narrow">
                            <a class="button is-link" @onclick="() => { isEdit = true; }" >
                                <span class="icon"><i class="material-icons-outlined is-size-6">edit</i></span>
                                <span>Sửa bản nháp</span>
                            </a>
                        </li>
                    } *@
                    
                    <table class="table is-fullwidth is-vcentered is-noborder is-responsive mb-0">
                        <thead>
                            <tr>
                                <th>Mục tiêu</th>
                                <th width="200px" align="center">Tiến độ</th>
                                <th width="100px" align="center">Thay đổi</th>
                                <th width="120px" align="center">Tự tin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="has-text-weight-semibold has-text-link">@checkInOKRsExample.okr._object</span>
                                </td>
                                <td>
                                    <label class="td-label">Tiến độ</label>
                                    <div class="td-value">
                                        <div class="progress_has_value">
                                        <progress class="progress is-small is-dark" value="@CalcAverage()" max="1">
                                        </progress>
                                        <span>
                                            @(CalcAverage() * 100) %
                                        </span>
                                    </div>
                                    </div>
                                </td>
                                <td align="center">
                                    <label class="td-label">Thay đổi</label>
                                    <div class="td-value has-text-weight-semibold">0%</div>
                                </td>
                                <td align="center">
                                    <label class="td-label">Tự tin</label>
                                    <div class="td-value">
                                        <div class="select is-fullwidth">
                                            <select  @bind="checkInOKRsExample.okr.confident" >
                                                <option value="0">- Chọn -</option>
                                                <option value="1">Rất tốt</option>
                                                <option value="2">Ổn</option>
                                                <option value="3">Không ổn</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            @foreach(var kr in checkInOKRsExample.krs){
                            <tr>
                                <td colspan="4">
                                    <hr class="m-0">
                                </td>
                            </tr>
                            <tr>
                                <td>Kết quả then chốt</td>
                                <td align="center">Đạt được</td>
                                <td></td>
                                <td align="center">Tự tin</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="has-text-weight-semibold has-text-link">@kr._keyResult</span>
                                </td>
                                <td colspan="2">
                                    <label class="td-label">Đạt được</label>
                                    <div class="td-value">
                                        <div class="field has-addons">
                                            <div class="control" style="width: 140px">
                                                <input class="input has-text-right" type="text" placeholder="Đã đạt được" @bind=kr.processCurrent >
                                            </div>
                                            <div class="control is-expanded">
                                                <div class="button is-static has-text-link">@kr.target</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td align="center">
                                    <label class="td-label">Tự tin</label>
                                    <div class="td-value">
                                        <div class="select is-fullwidth">
                                            <select @bind="kr.confident" >
                                                <option value="0">- Chọn -</option>
                                                <option value="1">Rất tốt</option>
                                                <option value="2">Ổn</option>
                                                <option value="3">Không ổn</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="pl-6 pb-4">
                                    <ul class="columns is-multiline is-variable is-2">
                                        <li class="column is-full">
                                            <div class="has-text-grey">Tiến độ, kết quả công việc?</div>
                                            <div class="control pt-2">
                                                <textarea class="textarea is_bg " rows="3" placeholder="Nhập đầy đủ thông tin bắt buộc..." @bind=checkInOKRsExample.answersKr[kr.idKR][0] ></textarea>
                                            </div>
                                        </li>
                                        <li class="column is-full">
                                            <div class="has-text-grey">Công việc nào đang &amp; sẽ chậm tiến độ?</div>
                                            <div class="control pt-2">
                                                <textarea class="textarea is_bg " rows="3" placeholder="Nhập đầy đủ thông tin bắt buộc..." @bind=checkInOKRsExample.answersKr[kr.idKR][1] ></textarea>
                                            </div>
                                        </li>
                                        <li class="column is-full">
                                            <div class="has-text-grey">Trở ngại, khó khăn là gì?</div>
                                            <div class="control pt-2">
                                                <textarea class="textarea is_bg " rows="3" placeholder="Nhập đầy đủ thông tin bắt buộc..." @bind=checkInOKRsExample.answersKr[kr.idKR][2] ></textarea>
                                            </div>
                                        </li>
                                        <li class="column is-full">
                                            <div class="has-text-grey">Cần làm gì để vượt qua trở ngại?</div>
                                            <div class="control pt-2">
                                                <textarea class="textarea is_bg " rows="3" placeholder="Nhập đầy đủ thông tin bắt buộc..." @bind=checkInOKRsExample.answersKr[kr.idKR][3] ></textarea>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <div class="field is-grouped">
                        <div class="control">File đính kèm</div>
                        <div class="control">
                            <div class="control file_upload" _bl_6c0fbd66-bb60-47a2-9708-36200cca24e3="">
                                <a class="button is-outlined is-link " title="Chọn file" style="border-radius: 6px; width: 24px; height: 24px; padding: 0px;">
                                    <span class="icon">
                                        <i class="material-icons-outlined is-size-6">upload</i>
                                    </span>
                                </a>
                                <input id="file_241P175EB8" class="is-hidden" multiple="" accept="*" type="file" _bl_2e74e1b7-cb0a-44c8-a67f-46e931ec775d="">
                                <span style="opacity:0;pointer-events:none;position:absolute">Chọn file</span>
                            </div>
                        </div>
                    </div>
                    <ul style="" class="columns is-multiline is-vcentered is-variable is-1 is-mobile "></ul>
                    <div class="field is-grouped is-grouped-multiline mt-5">
                        <div class="control" style="width: 650px;">
                            <ul class="columns is-multiline is-vcentered is-mobile is-variable is-1">
                                <li class="column is-narrow">
                                    Chọn quản lý check-in
                                </li>
                                <li class="column is-one-quarter">
                                    <div id="dropdown_6536c5e9" class="dropdown is-up  ">
                                        <div class="dropdown-trigger">
                                            <a class="icon-text">
                                                <span class="has-text-link is-block" style="max-width: 200px;">Tất cả phòng ban</span>
                                                <span class="icon">
                                                    <i class="material-icons-outlined is-size-5">arrow_drop_down</i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="column is-narrow">
                                    <div class="control is-expanded has-icons-left has-icons-right has_suggest">
                                        <input class="input is-rounded is-small" type="text" placeholder="Nhập tên nhân viên..." autocomplete="off" value="@nameUser" >
                                            <span class="icon is-left"><i class="material-icons-outlined is-size-6">search</i></span>
                                            <a class="icon is-right has-text-danger"><i class="material-icons-outlined">close</i></a>
                                        <ul class="suggest">
                                        @foreach(var u in listUser){
                                            if(u.userId != mainLayout.user.userId){
                                                <li class="rsitem" @onclick="() => SetUserCheckIn(u)" >
                                                    <div class="user_item"><img class="image is-24x24 mr-2" src="https://storage.googleapis.com/fastdo-storage.appspot.com/avatar/638398966517082138_338186201_910224320311474_9209000584054955892_n.jpg" alt="IMG">
                                                    <span>@u.userName</span></div>
                                                </li>
                                            }
                                        }
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        @if(isEdit){
                            <div class="control is-expanded has-text-right">
                                <a class="button is-white has-text-danger" onclick="goBack()">
                                    <span>Hủy nhập</span>
                                </a>
                                <a class="button is-link" @onclick="CreateCheckInDraft" >
                                    <span class="icon">
                                        <i class="material-icons-outlined is-size-6">done</i>
                                    </span>
                                    <span>Hoàn tất</span>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </section>
            }
            else{
                <section class="main_content">
                    <div class="card">
                        <ul class="columns is-vcentered is-variable is-2 mb-5">
                            <li class="column">
                                <h1 class="title is-5 has-text-info">
                                    CHECK-IN 1:1
                                </h1>
                            </li>
                            <li class="column is-narrow">
                                <div class="field is-grouped">
                                    <div class="control has-text-weight-semibold">
                                        Chu kỳ Check-in:
                                    </div>
                                    <div class="control is-expanded">
                                        <div class="select is-fullwidth">
                                            <select>
                                                <option value="">
                                                    Chưa có Check-in
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            @if(checkInOKRsExample != null){
                                @if(checkInOKRsExample.statusCheckIn == -1 || checkInOKRsExample.statusCheckIn == 2 || checkInOKRsExample.statusCheckIn == 3 )
                                {
                                        if(checkInOKRsExample.idUserCheckIn != mainLayout.user.userId){
                                            <li class="column is-narrow"><a class="button is-link" href="/checkin/@checkInOKRsExample.id/add" @onclick="() => isEdit = true" >
                                            <span class="icon"><i class="material-icons-outlined is-size-6">add</i></span>
                                            <span>Tạo Check-in nháp</span></a></li>
                                        }
                                        else
                                        {

                                        }
                                        
                                }
                                else if(checkInOKRsExample.statusCheckIn == 0)
                                    {
                                        if(checkInOKRsExample.idUserCheckIn == mainLayout.user.userId){
                                            <li class="column is-narrow"><a class="button is-success" @onclick="ComfirmCheckInDraft" ><span class="icon"><i class="material-icons-outlined is-size-6">done</i></span>
                                            <span>Xác nhận Check-in nháp</span></a></li>
                                        }
                                        else
                                        {
                                            if(!isEdit){
                                                <li class="column is-narrow"><a class="button is-link" href="/checkin/@(checkInOKRsExample.id)/add" @onclick="() => isEdit = true" ><span class="icon"><i class="material-icons-outlined is-size-6">edit</i></span>
                                                <span>Sửa bản nháp</span></a></li>
                                            }
                                            
                                        }
                                                
                                    }
                                else if(checkInOKRsExample.statusCheckIn == 1){

                                    if(checkInOKRsExample.idUserCheckIn == mainLayout.user.userId){
                                            <li class="column is-narrow"><span class="button is-white has-text-success"><span class="icon"><i class="material-icons-outlined is-size-6">done</i></span>
                                            <span>Đã xác nhận Check-in nháp</span></span></li>
                                        }
                                    else{
                                        if(!isCheckIn){
                                                <li class="column is-narrow"><a class="button is-link" @onclick="() => isCheckIn = true" ><span class="icon"><i class="material-icons-outlined is-size-6">format_list_bulleted</i></span>
                                                <span>Check-in</span></a></li>
                                            }
                                        else{
                                                <li class="column is-narrow"><a class="button is-link" ><span class="icon"><i class="material-icons-outlined is-size-6">format_list_bulleted</i></span>
                                                <span></span></a></li>
                                            }
                                            
                                        }
                                    }
                            }
                            else{
                                NavigationManager.NavigateTo("/checkin");
                            }
                        </ul>
                        <table class="table is-fullwidth is-noborder is-responsive">
                            <thead>
                                <tr>
                                    <th>
                                        Mục tiêu
                                    </th>
                                    <th width="250px" align="center">
                                        Tiến độ
                                    </th>
                                    <th width="100px" align="center">
                                        Thay đổi
                                    </th>
                                    <th width="100px" align="center">
                                        Tự tin
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="is-flex">
                                            <span class="has-text-weight-semibold has-text-link">
                                                @checkInOKRsExample.okr._object
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <label class="td-label">
                                            Tiến độ
                                        </label>
                                        <div class="td-value">
                                            <div class="progress_has_value">
                                                <progress class="progress is-small is-dark" value="@(CalcAverage())" max="1">
                                                </progress>
                                                <span>
                                                    @(CalcAverage() * 100) %
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td align="center">
                                        <label class="td-label">
                                            Thay đổi
                                        </label>
                                        <div class="td-value has-text-weight-semibold">
                                            0%
                                        </div>
                                    </td>
                                    <td align="center">
                                        <label class="td-label">
                                            Tự tin
                                        </label>
                                        <div class="td-value has-text-weight-semibold">
                                            <span>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="tr-hide">
                                    <td colspan="4">
                                        <hr class="m-0">
                                    </td>
                                </tr>
                                <tr class="tr-hide">
                                    <td>
                                        Kết quả then chốt
                                    </td>
                                    <td align="center">
                                        Đạt được
                                    </td>
                                    <td align="center">
                                        Thay đổi
                                    </td>
                                    <td align="center">
                                        Tự tin
                                    </td>
                                </tr>
                                @if(checkInOKRsExample.statusCheckIn >= 0){

                                    @foreach(var kr in checkInOKRsExample.krs){
                                        <tr>
                                        <td colspan="4">
                                            <hr class="m-0">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Kết quả then chốt</td>
                                        <td align="center">Đạt được</td>
                                        <td></td>
                                        <td align="center">Tự tin</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="has-text-weight-semibold has-text-link">@kr._keyResult</span>
                                        </td>
                                        <td colspan="2">
                                            <label class="td-label">Đạt được</label>
                                            <div class="td-value">
                                                <div class="field has-addons">
                                                    <div class="control" style="width: 140px">
                                                        <input class="input has-text-right" type="text" placeholder="Đã đạt được" @bind=kr.processCurrent >
                                                    </div>
                                                    <div class="control is-expanded">
                                                        <div class="button is-static has-text-link">@kr.target</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center">
                                            <label class="td-label">Tự tin</label>
                                            <div class="td-value">
                                                <div class="select is-fullwidth">
                                                    <select @bind="kr.confident">
                                                        <option value="0">- Chọn -</option>
                                                        <option value="1">Rất tốt</option>
                                                        <option value="2">Ổn</option>
                                                        <option value="3">Không ổn</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="pl-6 pb-4">
                                            <ul class="columns is-multiline is-variable is-2">
                                                <li class="column is-full">
                                                    <div class="has-text-grey">Tiến độ, kết quả công việc?</div>
                                                    <div class="control pt-2">
                                                        <textarea class="textarea is_bg " rows="3" placeholder="Nhập đầy đủ thông tin bắt buộc..." @bind=checkInOKRsExample.answersKr[kr.idKR][0] ></textarea>
                                                    </div>
                                                </li>
                                                <li class="column is-full">
                                                    <div class="has-text-grey">Công việc nào đang &amp; sẽ chậm tiến độ?</div>
                                                    <div class="control pt-2">
                                                        <textarea class="textarea is_bg " rows="3" placeholder="Nhập đầy đủ thông tin bắt buộc..." @bind=checkInOKRsExample.answersKr[kr.idKR][1] ></textarea>
                                                    </div>
                                                </li>
                                                <li class="column is-full">
                                                    <div class="has-text-grey">Trở ngại, khó khăn là gì?</div>
                                                    <div class="control pt-2">
                                                        <textarea class="textarea is_bg " rows="3" placeholder="Nhập đầy đủ thông tin bắt buộc..." @bind=checkInOKRsExample.answersKr[kr.idKR][2] ></textarea>
                                                    </div>
                                                </li>
                                                <li class="column is-full">
                                                    <div class="has-text-grey">Cần làm gì để vượt qua trở ngại?</div>
                                                    <div class="control pt-2">
                                                        <textarea class="textarea is_bg " rows="3" placeholder="Nhập đầy đủ thông tin bắt buộc..." @bind=checkInOKRsExample.answersKr[kr.idKR][3] ></textarea>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        
                        @if(isCheckIn){
                        <div class="field is-grouped is-grouped-multiline mt-5">
                            <input type="date" @onchange="(e) => { dateNextCheckIn = e.Value.ToString(); }" >
                            
                            <div class="control is-expanded pl-3">
                                <label class="checkbox">
                                    <input type="checkbox" @bind="isDone">
                                    <span class="has-text-weight-semibold">Hoàn thành OKRs</span>
                                </label>
                            </div>
                            <div class="control">
                                <a class="button is-white has-text-danger" href="/checkin/@checkInOKRsExample.id">
                                    <span>Trở về</span>
                                </a>
                                <a class="button is-link" @onclick="CheckInToOkrs">
                                    <span class="icon"><i class="material-icons-outlined is-size-6">done</i></span>
                                    <span>Hoàn tất Check-in</span>
                                </a>
                            </div>
                        </div>
                        }

                    </div>
                </section>
            }
        </section>
}

@code {
    [CascadingParameter] MainLayout mainLayout { get; set; } = new ();
    [Parameter] public string id { get; set; } = "";
    [Parameter] public string cmd { get; set; } = "";

    List<Process> listProcess { get; set; } = new List<Process>();
    User userToViewOKRs { get; set; } = new User();

    private bool isCheckIn = false;

    bool isEdit = false;

    bool isDone = false;

    private string nameUser = "";

    private string dateNextCheckIn = "";


    List<User> listUser = new List<User>();
    public Dictionary<string, bool> isShowKR = new Dictionary<string, bool>();
    private CheckInOKRs checkInOKRsExample = new CheckInOKRs();
    private List<CheckInOKRs> checkInOKRsList = new List<CheckInOKRs>();



    protected override async Task OnInitializedAsync()
    {
        listUser = await DbUser.GetAllUser();
        listProcess = await DbProcess.GetAllProcess();
        var listO = await DbOKRs.GetAllOKRs(mainLayout.selectedCycle.idCycle, mainLayout.user.userId);
        var listKR = await DbKR.GetAllKRs();


        foreach(var o in listO){
            var rs = DbCheckIn.GetCheckInLasted(o.idOKRs);
            if(rs == null){
                rs = new CheckInOKRs();
                rs.okr = o;
                foreach(var kr in listKR ){
                    if(kr.idOKRs == o.idOKRs){
                        rs.krs.Add(kr);
                        rs.answersKr.Add(kr.idKR, new List<string>(4));

                        rs.answersKr[kr.idKR].Add("");
                        rs.answersKr[kr.idKR].Add("");
                        rs.answersKr[kr.idKR].Add("");
                        rs.answersKr[kr.idKR].Add("");
                    }
                }
            }
            checkInOKRsList.Add(rs);
            isShowKR.Add(rs.okr.idOKRs, false);
        }
        Console.WriteLine("OnInitialized - CheckIn");
    }

    //OnParameterSet
    protected async override Task OnParametersSetAsync()
    {
        Console.WriteLine("OnParametersSet - CheckIn");
        if(!String.IsNullOrEmpty(id)){
            checkInOKRsExample = checkInOKRsList.OrderByDescending(x => x.dateCheckIn).FirstOrDefault(x => x.id == id);
            if(checkInOKRsExample != null){
                if(cmd == "add"){
                    if(checkInOKRsExample.statusCheckIn == 2 || checkInOKRsExample.statusCheckIn == 3)
                    {
                        var o = checkInOKRsExample.okr;
                        var listKR = checkInOKRsExample.krs;

                        checkInOKRsExample = new CheckInOKRs();
                        checkInOKRsExample.okr = o;
                        foreach(var kr in listKR ){
                            checkInOKRsExample.krs.Add(kr);
                            checkInOKRsExample.answersKr.Add(kr.idKR, new List<string>(4));

                            checkInOKRsExample.answersKr[kr.idKR].Add("");
                            checkInOKRsExample.answersKr[kr.idKR].Add("");
                            checkInOKRsExample.answersKr[kr.idKR].Add("");
                            checkInOKRsExample.answersKr[kr.idKR].Add("");
                        }
                    }
                }
            }
        }
    }

    private void ShowKR(string idOKR)
    {
        isShowKR[idOKR] = !isShowKR[idOKR];
    }

    private async void CheckIn()
    {
        
        isEdit = false;
    }

    private void CheckInToOkrs(){
        if(isDone){
            checkInOKRsExample.statusCheckIn = 3;
        }
        else{
            checkInOKRsExample.statusCheckIn = 2;
        }
        
        DbCheckIn.Update(checkInOKRsExample);
        isCheckIn = false;
    }

    private double CalcAverage()
    {
        double sum = 0;
        foreach(var kr in checkInOKRsExample.krs)
        {
            sum += (double)kr.processCurrent / kr.target;
        }

        double average = sum / checkInOKRsExample.krs.Count;
        checkInOKRsExample.progress = Math.Round(average, 2);

        // Sử dụng Math.Round để làm tròn đến hai số thập phân
        return Math.Round(average, 2);
    }

    private void ComfirmCheckInDraft(){
        checkInOKRsExample.statusCheckIn = 1;
        DbCheckIn.Update(checkInOKRsExample);
        isCheckIn = true;
        NavigationManager.NavigateTo("/checkin/" + checkInOKRsExample.id);
    }

    private async void CreateCheckInDraft(){
        isEdit = false;
        if(checkInOKRsExample.statusCheckIn == -1){
            checkInOKRsExample.idUser = mainLayout.user.userId;
            checkInOKRsExample.statusCheckIn = 0;
            checkInOKRsExample.dateCheckIn = DateTime.Today.Ticks;
            var check = await DbCheckIn.Add(checkInOKRsExample);
            if(check){
                await JSRuntime.InvokeVoidAsync("notify.success","Tạo CheckIn nháp thành công");
            }
        }
        else{
            checkInOKRsExample.dateCheckIn = DateTime.Today.Ticks;
            DbCheckIn.Update(checkInOKRsExample);
            
            await JSRuntime.InvokeVoidAsync("notify.success","Cập nhật CheckIn nháp thành công");
            
        }
        NavigationManager.NavigateTo("/checkin/" + checkInOKRsExample.id);
        
    }


    private void GetCheckInOKRsByUser(User u){
        userToViewOKRs = u;
        checkInOKRsList = DbCheckIn.GetCheckInOKRsByUser(u.userId);

        var dict  = new Dictionary<string, bool>();
        foreach(var checkInOKRs in checkInOKRsList){
            dict.Add(checkInOKRs.okr.idOKRs, false);
        }
        isShowKR = dict;
    }

    private CheckInOKRs GetCheckInOKRs(string idOKR)
    {
        return null;   
    }



    private double GetProcessOfOKRs(string id){
        foreach(var process in listProcess){
            if(process.idOKRs == id){
                return process.process;
            }
        }
        return 0.0;
    }

    private async void DoneCheckIn(){
    }

    private void SetUserCheckIn(User u){
        nameUser = u.userName;
        checkInOKRsExample.idUserCheckIn = u.userId;
    }





}